<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ЧЗСА{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Чебоксарский завод силовых агрегатов</h1>
        <nav>
            <ul>
                <li><a href="{% url 'machine_list' %}">Машины</a></li>
                <li><a href="{% url 'maintenance_list' %}">ТО</a></li>
                <li><a href="{% url 'claim_list' %}">Рекламации</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
