<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали машины</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>Детали машины</h2>
    <table>
        <tr>
            <th>Зав. № машины</th>
            <td>{{ machine.serial_number }}</td>
        </tr>
        <tr>
            <th>Модель</th>
            <td>{{ machine.model }}</td>
        </tr>
        <tr>
            <th>Модель двигателя</th>
            <td>{{ machine.engine_model }}</td>
        </tr>
        <tr>
            <th>Зав. № двигателя</th>
            <td>{{ machine.engine_serial_number }}</td>
        </tr>
        <tr>
            <th>Модель трансмиссии</th>
            <td>{{ machine.transmission_model }}</td>
        </tr>
        <tr>
            <th>Зав. № трансмиссии</th>
            <td>{{ machine.transmission_serial_number }}</td>
        </tr>
        <tr>
            <th>Модель ведущего моста</th>
            <td>{{ machine.drive_axle_model }}</td>
        </tr>
        <tr>
            <th>Зав. № ведущего моста</th>
            <td>{{ machine.drive_axle_serial_number }}</td>
        </tr>
        <tr>
            <th>Модель управляемого моста</th>
            <td>{{ machine.steer_axle_model }}</td>
        </tr>
        <tr>
            <th>Зав. № управляемого моста</th>
            <td>{{ machine.steer_axle_serial_number }}</td>
        </tr>
        <tr>
            <th>Договор поставки № дата</th>
            <td>{{ machine.contract_number_date }}</td>
        </tr>
        <tr>
            <th>Дата отгрузки с завода</th>
            <td>{{ machine.shipment_date }}</td>
        </tr>
        <tr>
            <th>Грузополучатель (конечный потребитель)</th>
            <td>{{ machine.end_user }}</td>
        </tr>
        <tr>
            <th>Адрес поставки (эксплуатации)</th>
            <td>{{ machine.delivery_address }}</td>
        </tr>
        <tr>
            <th>Комплектация (доп. опции)</th>
            <td>{{ machine.additional_options }}</td>
        </tr>
    </table>
</body>
</html>
